.App{
  display: flex;
  flex-wrap: wrap;
}

.book{
  flex:  0 32%;/* explanation below */
  margin: 5px;
  height: 200px;
  width: 50px;
  text-align: center;
  border: 1px solid black;
  padding: 0px;
  background-color: cornflowerblue;
}

.book:hover{
  background-color: darkgray;
  cursor: pointer;
}

img{
    width:  100px;
    height: 100px;
    object-fit: cover;
}
p{
  font-weight: bold;
}
